{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="{% static 'base/adjust_amount_v4.css' %}">
{% endblock styles %}

{% block content %}
<h1>Enter the amount of expense and tag a category</h1>
    <form method="POST">
    {% csrf_token %}
        {{form.expense}}
        {{form.category}}
            <button class="submitButton" type ="submit">Submit</button>
    </form>
    <a href="{% url 'getyears' %}">
        Back
    </a>
{% endblock content %}