{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'base/createyear_v1.css' %}">
{% endblock styles %}

{% block content %}
<h1>Add a new year</h1>
<form method="POST">
  {% csrf_token %}
  <div class="formGroup">
      {{ form.year }}
      <!-- Just for testing purposes, later on it will be the session user -->
      {{form.user}}
      <button type="submit">Submit</button>
    </div>
</form>
<a href="{% url 'home' %}">
    <button>Back</button>
</a>


{% endblock content %}