{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'base/createmonth_v5.css' %}">
{% endblock styles %}

{% block content %}

<h1>Add a new month for this year</h1>
{% if messages %}

    <div class="messages">
        {% for message in messages %}
          {{message}}
        {% endfor %}
    </div>
  
{% endif %}
<form method="POST">
  {% csrf_token %}
  <div class="formGroup">
      {{ form.name }}
      <button class="submitButton" type="submit">Submit</button>
    </div>
</form>
<div class="backButton">
    <a href="{% url 'getmonths' year.id %}">
        Back
    </a>
</div>

</div>


{% endblock content %}