{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'base/createmonth_v1.css' %}">
{% endblock styles %}

{% block content %}

<h1>Add a new month for this year</h1>
{% if messages %}

    <div class="messages">
        {% for message in messages %}
          {{message}}
        {% endfor %}
    </div>
  
{% endif %}
<form method="POST">
  {% csrf_token %}
  <div class="formGroup">
            {{ form.name }}
      <!-- Just for testing purposes, later on it will be the session user -->
      {{form.created_by}}
      {{form.year}}
      <button type="submit">Submit</button>
    </div>
</form>
<div class="backButton">
    <a href="{% url 'getmonths' year.id %}">
        <button>Back</button>
    </a>
</div>

</div>


{% endblock content %}