{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'base/createyear_v2.css' %}">
{% endblock styles %}

{% block content %}
<h1>Add a new year</h1>
<form method="POST">
    {% if messages %}
  <ul class="messages">
    {% for message in messages %} {{message}} {% endfor %}
  </ul>
  {% endif %}
  {% csrf_token %}
  <div class="formGroup">
      {{ form.year }}
      <button type="submit">Submit</button>
      <a href="{% url 'home' %}">
          Back
      </a>
    </div>
</form>


{% endblock content %}