{% extends "base/base.html" %}
{% load static %} 
{% block styles %}
<link rel="stylesheet" href="{% static 'base/getmonths_v7.css' %}" />
{% endblock styles %} 
{% block content %}
<div class="title_months">
    <h1>The list of months</h1>
</div>
{% if months %}
<div class="months">
  {% for month in months %}
  <a href="{% url 'monthexpense' month.id %}">
    {{month}}
  </a>
  {% endfor %}
</div>
{% else %}
<div class="zeroItems">
  <p>You don't have any months created for this year.</p>
</div>
{% endif %}
<div class="backButton">
  <a href="{% url 'getyears' %}">
    Back
  </a>
  <a class="createMonth" href="{% url 'createmonth' year.id %}">
    Create Month
  </a>
      <a class="deleteYear" href="{% url 'deleteyear' year.id %}">
       Delete Year
     </a>
</div>

{% endblock content %}
