{% extends "base/base.html" %}
{% load static %} 
{% block styles %}
<link rel="stylesheet" href="{% static 'base/getmonths_v2.css' %}" />
{% endblock styles %} 
{% block content %}
<div class="title_months">
    <h1>The list of months</h1>
</div>
<div class="months">
  {% for month in months %}
  <a href="{% url 'monthexpense' month.id %}">
    <button>{{month}}</button>
  </a>
  {% endfor %}
</div>
<div class="backButton">
  <a href="{% url 'home' %}">
    <button>Back</button>
  </a>
</div>

{% endblock content %}
