{% extends "base/base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'base/getyears_v2.css' %}" />
{% endblock styles %} {% block content %}
<div class="title_years">
    <h1>The list of years</h1>
</div>
<div class="years">
  {% for year in years %}
  <a href="{% url 'getmonths' %}">
      <button>{{year}}</button>
  </a>
  {% endfor %}
</div>
<div class="backButton">
  <a href="{% url 'home' %}">
    <button>Back</button>
  </a>
</div>

{% endblock content %}
