{% extends "base/base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'base/getyears_v5.css' %}" />
{% endblock styles %} {% block content %}
<div class="title_years">
    <h1>The list of years</h1>
</div>
{% if years %}
<div class="years">
    {% for year in years %}
      <a href="{% url 'getmonths' year.id %}" class="yearItem">
          <button>{{ year.year }}</button>
      </a>
    {% endfor %}
  </div>
  {% else %}
    <div class="zeroItems">
      <p>You don't have any years created yet.</p>
    </div>
  {% endif %}
<div class="backButton">
  <a href="{% url 'home' %}">
    <button>Back</button>
  </a>
   <a href="{% url 'createyear' %}">
            <button>Create a new year</button>
        </a>
</div>

{% endblock content %}
