{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'base/list_expenses_v5.css' %}">
{% endblock styles %}

{% block content %}
    <h1>List of expense categories for the month</h1>

    <div class="expenseBlock">
        {% for item in category_amount_sum %}
            <h3>{{item.category__name}}
                <div class="expense-amount">{{item.total | intcomma}} HUF</div>
            </h3>
        {% endfor %}
    </div>

        <a href="{% url 'monthexpense' budget.id %}">
            Back
        </a>
    
{% endblock content %}