{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="{% static 'base/monthexpense_v4.css' %}">
{% endblock styles %}

{% block content %}
{% if budget %}
<div class="centerColumn">
    <div class="monthData">
      <h1>{{month}}</h1>
    </div>
    <div class="amountContainer">
      <div class="amount">
        {{ budget.amount|floatformat:2|intcomma }} HUF
      </div>
    </div>
    <div class="expenseButtons">
      <a href="{% url 'adjustamount' budget.id %}?adjust=deduct">
        Deduct
      </a>
       <a href="{% url 'adjustamount' budget.id %}?adjust=add">
        Add
      </a>
      <a href="{% url 'listexpenses' budget.id %}">
        List Expenses
      </a>
    </div>
    <a href="{% url 'deletemonth' month.id %}">
      Delete month
    </a>
    <a href="{% url 'getmonths' year.id %}">
        Back
    </a>
  </div>
{% else %}
<div class="zeroItems">
  <h1>You don't have any budget added for this month</h1>
  <a href="{% url 'createbudget' month.id %}">
    Create budget
  </a>
   <a href="{% url 'deletemonth' month.id %}">
      Delete month
    </a>
    <a href="{% url 'getmonths' year.id %}">
        Back
    </a>
</div>
{% endif %}
{% endblock content %}
