{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'base/monthexpense_v3.css' %}">
{% endblock styles %}

{% block content %}
{% if budget %}
<div class="centerColumn">
    <div class="monthData">
      <h1>{{month}}</h1>
      <h5>{{ budget.created_at|date:"Y-m-d" }}</h5>
    </div>
    <div class="amountContainer">
      <div class="amount">
        {{budget.amount|floatformat:0}} HUF
      </div>
    </div>
    <div class="expenseButtons">
      <button>Deduct</button>
      <button>Add</button>
    </div>
    <a href="{% url 'deletemonth' month.id %}">
      <button>Delete month</button>
    </a>
    <a href="{% url 'getmonths' year.id %}">
        <button>Back</button>
    </a>
  </div>
{% else %}
<div class="zeroItems">
  <h1>You don't have any budget added for this month</h1>
  <a href="{% url 'createbudget' month.id %}">
    <button>Create budget</button>
  </a>
</div>
{% endif %}
{% endblock content %}
