body{
    background-color: #edf7e1;
    margin: 0;
}

a{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 20vw;
    border-radius: 40px;
    border: none;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    font-family: monospace;
    background-color: rgb(239, 232, 232);
    text-decoration: none;
    color: inherit;

    background-color: #4CAF50;
    color: white;
    transition: 0.8s;

}

a:hover{
    background-color: #eefbf2;
    color: black;
}


h1{
    font-family: monospace;
    color: #333333;
}

button{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 20vw;
    border-radius: 40px;
    border: none;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    font-family: monospace;
    background-color: rgb(239, 232, 232);
    text-decoration: none;

    background-color: #4CAF50;
    color: white;
    transition: 0.8s;
}

button:hover{
    background-color: #eefbf2;
    color: black;
}


.messages{
    font-size: 15px;
    font-family: monospace;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    border-radius: 30px;
}

