.months {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    margin-top: 30px;
}

.title_months{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}