body {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    min-height: 100vh;  
}
.title_years{
    justify-self: center;
    align-self: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    box-shadow: 2px 2px 10px black;
    border-radius: 40px;
    min-width: 40%;
    text-align: center;
}

.years{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.backButton{
    display: flex;
    justify-self: center;
    gap: 20px;
}

.zeroItems{
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}